body {
  color: white;
  background-color: #333;
}
.numbers {
  font-size: large;
  width: 3.5em;
}

.checking, .swapped {
  color: green;
  background-color: cyan;
}

.swapping {
  color: red;
  background-color: lightpink;
}

.sorted {
  color: lightgreen;
  background-color: green;
}

#message {
  font-size: x-large;
}
