body {
  color: white;
  background-color: #333;
}

h1 {
  color: orangered;
}

.description {
  color: lightblue;
  max-width: 30em;
}

.numbers {
  margin-left: 1.5em;
  padding: 10px;
  font-size: large;
  width: 3.5em;
}

.checking, .swapped {
  color: green;
  background-color: cyan;
}

.swapping {
  color: red;
  background-color: lightpink;
}

.sorted {
  color: lightgreen;
  background-color: green;
}

#message {
  font-size: x-large;
}
